# file/ide
.idea/
.vscode/
.history
.DS_Store

# bin file
fireboom

# generated
generated/.graphqlconfig
exported/generated
.process/
dx
# hook
node_modules
yarn.lock
package-lock.json
pnpm-lock.yaml

# log
log/*

# natapp
natapp/*

store/object/global_system_config.json
store/list/FbDataSource

